.screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    max-height: 100%;
    width: 100%;


    transition: 1s;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: #00000000 #00000000;
}

.screen::-webkit-scrollbar {
    width: 0px;
}