.Conteiner {
    position: relative;
    height: 50px;
    width: 100%;
    min-width: 100px;

    cursor: text;
}
.Conteiner > input {
    position: absolute;
    bottom: 10px;
    left: 10px;


    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 20px;
    background-color: rgba(0, 0, 0, 0) !important;

    outline: none;
    border: none;

    font-size: 20px;
    line-height: 20px;
}
.Background {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

    padding-left: 10px;

    box-shadow: var(--BoxShadow);
}


.Conteiner:hover > .PlaceholderBackground, .Conteiner.active > .PlaceholderBackground {
    top: 0px;
}

.Conteiner:hover > .PlaceholderText, .Conteiner.active > .PlaceholderText {
    top: 0px;
    left: 20px;

    font-size: 14px;
    line-height: 20px;

    padding: 0px 7px;
    opacity: 0.7;  
}

.PlaceholderText {
    position: absolute;
    font-size: 20px;
    line-height: 40px;

    top: 10px;
    left: 10px;

    opacity: 0.6;
    transition: 0.3s;
}
.PlaceholderBackground {
    position: absolute;
    top: 10px;
    left: 20px;

    font-size: 14px;
    color: rgba(0, 0, 0, 0);

    line-height: 20px;
    padding: 0px 7px;
    border-radius: 100px;
    background-color: white;

    transition: 0.3s;
}