.mainPage{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.mainPage > * > h1{
    cursor: default;
}

.countResults{
    color: white;
    margin: 20px 0;
}